<% common_nop_processes = @nop_process.common_nop_processes %>
  <% if nop_process.standalone_batch? %>
  <div class="alert alert-info">
    This is a standalone batch.
  </div>
  <% end %>
  <%= render "shared/tables/default_table",
    collection: common_nop_processes,
    headers: ->(_) do %>
      <th>Batch Number</th>
      <th><%= field_symbol("V_H") %> / <%= field_symbol("c_H") %></th>
      <th><%= field_symbol("V_H_prime") %> / <%= field_symbol("c_H_prime") %></th>
      <th><%= field_symbol("V_H_double_prime") %> / <%= field_symbol("c_H_double_prime") %></th>
      <th><%= field_symbol("V_cE") %> / <%= field_symbol("pH_cE") %></th>
    <% end,
    row: ->(nop_process) do %>
      <td><%= link_to nop_process.batch_number, experiments_nop_process_path(nop_process) %></td>
      <td><%= V_H_c_H(nop_process) %></td>
      <td><%= V_H_prime_c_H_prime(nop_process) %></td>
      <td><%= V_H_double_prime_c_H_double_prime(nop_process) %></td>
      <td><%= V_cE_pH_cE(nop_process) %></td>
  <% end %>