<% content_for :page_title, render("shared/page_title", subtitle: "Add a new equipment type.") %>

<%= render "shared/form_errors", object: @equipment_type %>

<%= form_with(model: @equipment_type, url: admin_equipment_types_path, local: true, html: { class: "equipment-type-form" }) do |f| %>

  <%= default_form_field(f, :name, label_text: "Equipment Type Name (unique)", required: true) do |req| %>
    <%= f.text_field :name,
                    { class: "form-control",
                      placeholder: "Please enter a unique equipment type name" }.merge(req) %>
  <% end %>

  <div class="mb-3">
    <div class="form-check">
      <%= f.check_box :is_active,
                      { class: "form-check-input",
                        checked: true } %>
      <label class="form-check-label fw-bold" for="admin_equipment_type_is_active">
        This equipment type is active
      </label>
    </div>
  </div>

  <%= render "shared/forms/creator_fields", f: f %>

  <!-- CONFIRM SUBMIT -->
  <%= f.submit "Save Equipment Type", 
        class: "btn btn-primary px-4 mt-5",
        data: { turbo_confirm: "Are you sure you want to save this equipment type?" } %>

<% end %>

