<% content_for :page_title, render("shared/page_title", subtitle: "Add a new chemical to the inventory.") %>

<%= render "shared/form_errors", object: @chemical %>

<%= form_with(model: @chemical, local: false, url: inventory_chemicals_path, html: { class: "chemical-form" }) do |f| %>
  
  <%= default_form_field(f, :chemical_type, label_text: "Chemical Type", required: true) do |req| %>
    <%= f.select :chemical_type_id,
                Admin::ChemicalType.all.filter { |ct| ct.is_active? }.map { |ct| [ct.name.humanize, ct.id] },
                { prompt: "Please select a chemical type" },
                { class: "form-control" }.merge(req) %>
    <% end %>


    <%= default_form_field(f, :name, label_text: "Chemical Name (unique)", required: true) do |req| %>
      <%= f.text_field :name,
                      { class: "form-control",
                        placeholder: "Please enter a unique chemical name" }.merge(req) %>
    <% end %>

    <%= inline_quantity_field(f, :quantity, "Quantity", unit_field: :unit, required: true) %>

    <%= default_form_field(f, :supplier, label_text: "Chemical Supplier (optional)") do |req| %>
      <%= f.text_field :supplier,
                      { class: "form-control",
                        placeholder: "Please enter a chemical supplier (optional)" }.merge(req) %>
    <% end %>

  <%= default_form_field(f, :location, label_text: "Chemical Location (optional)") do |req| %>
    <%= f.text_field :location,
                    { class: "form-control",
                      placeholder: "Please enter a chemical location (optional)" }.merge(req) %>
    <% end %>

  <%= default_form_field(f, :expiry_date, label_text: "Expiry Date (optional)") do |req| %>
    <%= f.date_field :expiry_date,
                    { class: "form-control" }.merge(req) %>
  <% end %>


    <!-- CONFIRM SUBMIT -->
    <%= f.submit "Save Chemical", 
          class: "btn btn-primary px-4 mt-3",
          data: { turbo_confirm: "Are you sure you want to save this chemical?" } %>

  </div>

<% end %>
