<% content_for :title, "Add Equipment" %>
<% content_for :page_title, render("shared/page_title", title: "Add New Equipment", subtitle: "Add a new equipment to the inventory.") %>

<%= render "shared/form_errors", object: @equipment %>

<%= form_with(model: @equipment, local: false, url: inventory_equipments_path, html: { class: "equipment-form" }) do |f| %>

  <%= default_form_field(f, :name, label_text: "Equipment Name (unique)", required: true) do |req| %>
    <%= f.text_field :name,
                    { class: "form-control",
                      placeholder: "Please enter a unique equipment name" }.merge(req) %>
  <% end %>

  <%= default_form_field(f, :code, label_text: "Equipment Code (unique, example: 5LR for 5L Reactor)", required: true) do |req| %>
    <%= f.text_field :code,
                    { class: "form-control text-uppercase"}.merge(req) %>
  <% end %>


  <%= default_form_field(f, :equipment_type, label_text: "Equipment Type", required: true) do |req| %>
    <%= f.select :equipment_type,
                Equipment.equipment_types.keys.map { |k| [k.titleize, k] },
                { prompt: "Please select an equipment type" },
                { class: "form-control" }.merge(req) %>
  <% end %>

  <%= default_form_field(f, :equipment_supplier, label_text: "Equipment Supplier", required: true) do |req| %>
    <%= f.select :equipment_supplier,
                Equipment.equipment_suppliers.keys.map { |k| [k.titleize, k] },
                { prompt: "Please select an equipment supplier" },
                { class: "form-control" }.merge(req) %>
  <% end %>

  <%= default_form_field(f, :equipment_location, label_text: "Equipment Location", required: true) do |req| %>
    <%= f.select :equipment_location,
                Equipment.equipment_locations.keys.map { |k| [k.titleize, k] },
                { prompt: "Please select a location" },
                { class: "form-control" }.merge(req) %>
  <% end %>


  <%= default_form_field(f, :location_details, label_text: "Location Details", required: false) do |req| %>
    <%= f.text_field :location_details,
                    { class: "form-control",
                      placeholder: "Optional" }.merge(req) %>
  <% end %>

  <%= render "shared/forms/creator_fields", f: f %>

  <!-- Larger space before buttons -->

    <!-- CONFIRM SUBMIT -->
    <%= f.submit "Save Equipment", 
          class: "btn btn-primary px-4 mt-5",
          data: { turbo_confirm: "Are you sure you want to save this equipment?" } %>

  </div>

<% end %>
